{% extends "layout.html" %}

{% block pageTitle %}
Merits assessment - substantive
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="case-details">Back to application details</a>
{% endblock %}

{% set application = data['application']['applicationDetails'] %}

{% if application['certificateType'] === 'Substantive' %}
{% set part = '1' %}
{% else %}
{% set part = '2' %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Make a decision on merits</h1>
    <p class="govuk-!-font-size-36">{{ application['refNo'] }}</p>
    <div class="govuk-!-padding-top-4"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Part {{ part }}: Substantive</h2>
    <form action="case-details" method="POST">
      <div class="govuk-form-group">
        {% for proceeding in application['proceedings'] %}
        {% for certificate in proceeding['certificates'] %}
        {% if certificate['certificateType'] === 'Substantive certificate' %}

        {% set hint=application['categoryLaw'] + ' - ' + proceeding['matterType'] +  '<br>' + 'The provider has requested ' + certificate['formOfService']  %}

        {% set refuseHtml %}
        {% include "./_refusal_reasons_dropdown.html" %}
        {% endset -%}

        {% set amendHtml %}
        {{ govukSelect({
          idPrefix: certificate['id']+"_amend",
          name: certificate['id']+"_amend",
          fieldset: {},
          items: [
            {
              value: "Family help (higher)",
              text: "Family help (higher)",
              id: "amended_1",
              selected: checked(certificate['id']+"_amend", "Family help (higher)")
            },
            {
              value: "Full representation",
              text: "Full representation",
              id: "amended_2",
              selected: checked(certificate['id']+"_amend", "Full representation")
            }
          ]
        })}}
        {% endset -%}

        {{ govukRadios({
          idPrefix: certificate['id']+"_decision",
          name: certificate['id'],
          fieldset: {
            legend: {
              text: proceeding['proceedingType'],
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: hint | safe
          },
          items: [
            {
              value: "granted",
              text: "Grant",
              checked: checked(certificate['id'], "granted")
            },
            {
              value: "amended",
              text: "Make changes and grant",
              checked: checked(certificate['id'], "amended"),
              conditional: {
                html: amendHtml
              }
            },
            {
              value: "refused",
              text: "Refuse",
              checked: checked(certificate['id'], "refused"),
              conditional: {
                html: refuseHtml
              }
            }
          ]
        })}}

        <div class="govuk-!-padding-top-4"></div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Cost limits</caption>
        <tbody class="govuk-table__body">
          {% for limitation in application['costLimitations'] %}
          {% if limitation['certificateType'] == 'Substantive certificate' %}
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Certificate type</td>
            <td class="govuk-table__cell">{{ limitation['certificateType'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Default</td>
            <td class="govuk-table__cell">{{ limitation['costLimit'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Requested</td>
            <td class="govuk-table__cell">{{ limitation['requestedCostLimit'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Justification</td>
            <td class="govuk-table__cell">{{ limitation['justification'] }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <div class="govuk-!-padding-top-4"></div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="granted-substantive">
            How much should be granted for the substantive certificate?
          </label>
        </h1>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="granted-substantive" name="granted-substantive" value="{{ data['granted-substantive'] }}" type="text" spellcheck="false">
        </div>
      </div>

      <div class="govuk-!-padding-top-4"></div>

      {% set otherStartDateHtml %}
      {{ govukDateInput({
        id: "other-substantive-start-date",
        namePrefix: "other-substantive-start-date",
        fieldset: {},
        hint: {},
        items: [
          {
            classes: "govuk-input--width-2",
            label: "Day",
            id: "day",
            name: "day",
            value: data['other-substantive-start-date-day']
          },
          {
            classes: "govuk-input--width-2",
            label: "Month",
            id: "month",
            name: "month",
            value: data['other-substantive-start-date-month']
          },
          {
            classes: "govuk-input--width-4",
            label: "Year",
            id: "year",
            name: "year",
            value: data['other-substantive-start-date-year']
          }
        ]
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "substantive-certificate-start-date",
        name: "substantive-certificate-start-date",
        fieldset: {
          legend: {
            text: "When should the substantive certificate be granted from?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {},
        items: [
          {
            value: "Today",
            text: "Today",
            checked: checked('substantive-certificate-start-date', "Today")
          },
          {
            value: "Other",
            text: "Other",
            checked: checked('substantive-certificate-start-date', "Other"),
            conditional: {
              html: otherStartDateHtml
            }
          }
        ]
      })}}

      <div class="govuk-!-padding-top-4"></div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="substantive-note">
          Give further details
        </label>
        <div id="note-hint" class="govuk-hint">
          This information is for internal use. It will not be shared with the provider.
        </div>
        <textarea class="govuk-textarea" name="substantive-note" id="substantive-note" rows="10">{{ data['substantive-note'] }}</textarea>
        <div class="govuk-button-group">
          <input type="submit" name="continue_button" value="Save and continue" id="continue" class="govuk-button form-button" data-module="govuk-button" data-disable-with="Save and continue">
          <input type="submit" name="continue_button" value="Save and come back later" id="continue" class="govuk-button form-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button"
            data-disable-with="Save and come back later">
        </div>
      </div>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    <form action="substantive-update-all">
      <div class="govuk-button-group">
        <input type="submit" name="update_all_substantive" value="Grant all" id="grant-all-substantive" class="govuk-button form-button govuk-button--secondary" data-module="govuk-button" data-disable-with="Grant all">
        <input type="submit" name="update_all_substantive" value="Refuse all" id="refuse-all-substantive" class="govuk-button form-button govuk-button--warning govuk-!-margin-left-3" data-module="govuk-button" data-disable-with="Refuse all">
      </div>
    </form>
  </div>
</div>
{% endblock %}