{% extends "layout.html" %}

{% block pageTitle %}
Reject application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="case-details">Back to application details</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="reject-application" method="POST" novalidate data-validate='reject-validation'>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">Send application back to the provider</h1>
          </legend>
          <h2 class="govuk-body-l govuk-!-font-size-36">{{ data['refNo'] }}</h2>
          <p class="govuk-body">Select the reason for returning this application</p>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejection-reason" name="rejection-reason" type="radio" value="Incorrect matter type">
              <label class="govuk-label govuk-radios__label" for="rejection-reason">
                Incorrect matter type
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejection-reason-2" name="rejection-reason" type="radio" value="Incorrect proceeding" data-aria-controls="conditional-incorrect-means">
              <label class="govuk-label govuk-radios__label" for="rejection-reason-2">
                Incorrect proceeding
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejection-reason-3" name="rejection-reason" type="radio" value="Amend scope or cost">
              <label class="govuk-label govuk-radios__label" for="rejection-reason-3">
                Amend scope or cost
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejection-reason-4" name="rejection-reason" type="radio" value="Other" data-aria-controls="conditional-other">
              <label class="govuk-label govuk-radios__label" for="rejection-reason-4">
                Other
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
              <div class="govuk-form-group">
                <label class="govuk-label" for="rejection-reason-other">
                  Give further details
                </label>
                <div id="other-hint" class="govuk-hint">
                  This information is for internal use only
                </div>
                <textarea class="govuk-textarea govuk-!-width-two-thirds" name="rejection-reason-other" id="rejection-reason-other" rows="10"></textarea>
              </div>
            </div>
        </fieldset>
      </div>
      <button class="govuk-button govuk-button" data-module="govuk-button">Save changes</button>
    </form>
  </div>
</div>

<script type="application/json" id="reject-validation">
  {
    "rejection-reason": {
      "presence": true
    },
    "rejection-reason-other": {
      "conditionallyRequired": {
        "dependentOn": {
          "name": "rejection-reason",
          "value": "Other"
        },
        "message": "^Please enter a reason for sending the application back to the provider"
      }
    }
  }
</script>
{% endblock %}