{% if data['refNo'] in data['assignedApplications'] %}
  {% extends "layouts/workload.html" %}
{% else %}
  {% extends "layouts/open.html" %}
{% endif %}

{% block pageTitle %}
Application history
{% endblock %}

{% block beforeContent %}
{% if data['refNo'] in data['assignedApplications'] %}
<a class="govuk-back-link" href="my-applications">Back to my applications</a>
{% else %}
<a class="govuk-back-link" href="open-applications">Back to open applications</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Means and merits decisions saved and shared with the provider.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl govuk-!-margin-bottom-2" ><span class="govuk-!-margin-right-2">E-X4M-P7E</span></h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Linked applications found
        </span>
      </summary>
      <div class="govuk-details__text">TBC
      </div>
    </details>

  </div>
  {% if data['refNo'] in data['assignedApplications'] %}
  <div class="govuk-grid-column-one-third">
    <form action="remove-from-my-list">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Remove from my list</button>
      <input type="hidden" name="refNoToRemove" value="{{ application['refNo'] }}">
    </form>
  </div>
  {% else %}
  <div class="govuk-grid-column-one-third">
    <form action="my-applications">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add to my list</button>
      <input type="hidden" name="refNo" value="{{ data['refNo'] }}">
    </form>
  </div>
  {% endif %}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body-m">
      <strong>Date submitted: </strong>{{ application['dateSubmitted'] | date }}<br>
    {% if data['refNo'] in data['assignedApplications'] %}
      <strong>Assigned to: </strong>Mo Bradshaw
    {% endif %}
    </p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="application-details">Application details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="people">People</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="application-history">Application history</a>
          </li>
        </ul>
      </nav>

      <div class="moj-timeline">
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Overall decision made</h2>
            <p class="moj-timeline__byline">by <!--You--> Mo Bradshaw <!----></p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">02 Nov 2023 09:33</time>
          </p>
          <div class="moj-timeline__description">
            <strong class="govuk-tag govuk-tag--green">
          Granted
        </strong>

           
          </div>
        </div>

        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Merits decision made</h2>
            <p class="moj-timeline__byline">by <!--You--> Mo Bradshaw <!----></p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">02 Nov 2023 09:03</time>
          </p>
          <div class="moj-timeline__description">
            Non-molestation order<br>
            <p class="govuk-hint">Emergency certificate was <strong class="govuk-tag govuk-tag--green">
          Granted
        </strong><br>
            Substantive certificate was <strong class="govuk-tag govuk-tag--green">
          Granted
        </strong><br></p>

            Child arrangements order (contact)<br>
            <p class="govuk-hint">Substantive certificate was <strong class="govuk-tag govuk-tag--red">
          Refused
        </strong><br></p>
          </div>
        </div>
              
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Caseworker note added</h2>
            <p class="moj-timeline__byline">by <!--You--> Mo Bradshaw <!----></p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">02 Nov 2023 08:47</time>
          </p>
          <div class="moj-timeline__description">
            Spoke to provider on phone regarding requested cost limit and agreed default was more in line with work.
          </div>
        </div>

         <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Caseworker note added</h2>
            <p class="moj-timeline__byline">by <!--You--> Robin Crane <!----></p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">02 Nov 2023 08:47</time>
          </p>
          <div class="moj-timeline__description">
            Sometimes a single status is enough. For example if you need to tell users which parts of an application they’ve finished and which they have not, you may only need a ‘Completed’ tag. Because the user understands that if something does not have a tag, that means it’s incomplete.

The task list pattern has an example of how to show one status using tags.

Or it can make sense to have two statuses. For example you may find that there’s a need to have one tag for ‘Active’ users and one for ‘Inactive’ users.
          </div>
        </div>

         <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Means decision made</h2>
            <p class="moj-timeline__byline">by <!--You--> Robin Crane <!----></p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">02 Nov 2023 09:03</time>
          </p>
          <div class="moj-timeline__description">
            Non-molestation order<br>
            <p class="govuk-hint">Emergency certificate was <strong class="govuk-tag govuk-tag--green">
          Granted
        </strong><br>
            Substantive certificate was <strong class="govuk-tag govuk-tag--green">
          Granted
        </strong><br></p>

            Child arrangements order (contact)<br>
            <p class="govuk-hint">Substantive certificate was <strong class="govuk-tag govuk-tag--green">
          Granted
        </strong><br></p>
          </div>
        </div>

        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Caseworker note added</h2>
            <p class="moj-timeline__byline">by <!--You--> Mo Bradshaw <!----></p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">02 Nov 2023 08:47</time>
          </p>
          <div class="moj-timeline__description">


            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                 Read note
                </span>
              </summary>
              <div class="govuk-details__text">
                Sometimes a single status is enough. For example if you need to tell users which parts of an application they’ve finished and which they have not, you may only need a ‘Completed’ tag. Because the user understands that if something does not have a tag, that means it’s incomplete.

The task list pattern has an example of how to show one status using tags.

Or it can make sense to have two statuses. For example you may find that there’s a need to have one tag for ‘Active’ users and one for ‘Inactive’ users.
              </div>
            </details>

          </div>
        </div>
              
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application added to workload</h2>
            <p class="moj-timeline__byline">by <!--You--> Mo Bradshaw <!----></p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">02 Nov 2023 08:46</time>
          </p>
          <div class="moj-timeline__description">
            
          </div>
        </div>
        
      </div>

      {% if data['refNo'] in data['assignedApplications'] %}
      <form action="add-note" method="POST">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="note">
              Add a note to the application history
            </label>
          </h1>
          <div id="note-hint" class="govuk-hint">
            This information is for internal use only
          </div>
          <textarea class="govuk-textarea" name="note" id="note" rows="5"></textarea>
          <button class="govuk-button" data-module="govuk-button">Add to application history</button>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}