{% extends "layouts/workload.html" %}

{% block pageTitle %}
My applications
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./_search.html" %}

    <h1 class="govuk-heading-l">My applications</h1>
    <p>Showing <b>1</b> to <b>{{ data['assignedApplications'].length }}</b> of <b>{{ data['assignedApplications'].length }}</b> applications</p>

    <div class="moj-filter-layout">
      {% include "./_filter.html" %}

      <div class="moj-filter-layout__content">
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter"></div>
        </div>

        <div class="moj-scrollable-pane">
          <div class="moj-scrollable-pane__wrapper">
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head" style="background-color:#f3f2f1">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Reference No./Applicant</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Submitted</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Application type</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">DF</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Category of law / Matter type</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Means type</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Action</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for application in data['applications'] %}
                {% if application['applicationDetails']['refNo'] in data['assignedApplications'] %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>{{ application['applicationDetails']['refNo'] }}</b><br>
                    <a class="govuk_link" href="/latest/application-details?refNo={{ application['applicationDetails']['refNo'] }}">{{ application['applicationDetails']['applicant']['name'] }}</a></td>
                  <td class="govuk-table__cell"><input type="hidden" name="date" value="{{ application['applicationDetails']['dateSubmitted'] }}" />{{ application['applicationDetails']['dateSubmitted'] | date}}</td>
                  <td class="govuk-table__cell"><input type="hidden" name="date" value="{{ application['applicationDetails']['dateLastUpdated'] }}" />{{ application['applicationDetails']['dateLastUpdated'] | date}}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['applicationType'] }}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['delegatedFunctions'] }}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['categoryLaw'] }}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['meansType'] }}</td>
                  <td class="govuk-table__cell">
                    <form action="application-details">
                      <a href="application-details" onclick="this.closest('form').submit();return false;">Details</a>
                      <input type="hidden" name="refNo" value="{{ application['applicationDetails']['refNo'] }}">
                    </form>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}