{% extends "legacy_layout.html" %}

{% block pageTitle %}
User permissions
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="home">Back to homepage</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">View user permissions</h1>
    <h2 class="govuk-body-l govuk-!-font-size-36">Your name</h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Account details</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-two-thirds">Username</td>
          <td class="govuk-table__cell">abcd-e</td>
        </tr>
      </tbody>
    </table>


    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Roles</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-two-thirds">Non-business means caseworker</td>
          <td class="govuk-table__cell"><a href="#">Remove role</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Business means caseworker</td>
          <td class="govuk-table__cell"><a href="#">Remove role</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Family merits caseworker</td>
          <td class="govuk-table__cell"><a href="#">Remove role</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Non-family merits caseworker</td>
          <td class="govuk-table__cell"><a href="#">Remove role</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Customer service advisor (Tier 1)</td>
          <td class="govuk-table__cell"><a href="#">Remove role</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Customer service advisor (Tier 2)</td>
          <td class="govuk-table__cell"><a href="#">Remove role</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Team manager</td>
          <td class="govuk-table__cell"><a href="#">Remove role</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script type="application/json" id="remove-from-list-validation">
  {
    "removal-reason": {
      "presence": true
    }
  }
</script>
{% endblock %}