{% extends "layouts/layout.html" %}

{% block pageTitle %}
Merits assessment - substantive
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="application-details">Back to application details</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Make a merits assessment</h1>
    <p class="govuk-!-font-size-36">L-I2Z-I3P</p>
    <div class="govuk-!-padding-top-4"></div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Substantive proceedings</h2>
    <form action="/merits-check2" method="POST">
      <div class="govuk-form-group">
        
        
        
        
        

         <h2 class="govuk-heading-m">Non-molestation order</h2>
        
        
        


  

  

  

  

  <dl class="govuk-summary-list govuk-!-margin-bottom-5">
    
      
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Category
          </dt>
          <dd class="govuk-summary-list__value">
            Family - Domestic abuse
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Delegated functions
          </dt>
          <dd class="govuk-summary-list__value">
            16 Oct 2023
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Level of service
          </dt>
          <dd class="govuk-summary-list__value">
            Full representation
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Level of service</span>
                </a>
              
            </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Scope limitations
          </dt>
          <dd class="govuk-summary-list__value">
            Injunction FLA-to final hearing
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Scope limitations</span>
                </a>
              
            </dd>
          
        </div>
      
    
  </dl>


      

<div class="govuk-form-group">

  <div class="govuk-radios govuk-!-margin-bottom-9" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="application_1_proceeding_1_certificate_2_decision" name="application_1_proceeding_1_certificate_2" type="radio" value="granted" aria-controls="conditional-application_1_proceeding_1_certificate_2_decision" aria-expanded="false">
          <label class="govuk-label govuk-radios__label" for="application_1_proceeding_1_certificate_2_decision">
        Grant
      </label>
          
        </div>
        
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-application_1_proceeding_1_certificate_2_decision">
            
        

        




  


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  
    When should the substantive certificate be granted from?
  
  </legend>
  

  <div class="govuk-date-input" id="substantive-issued">
    
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="substantive-issued-day">
          Day
        </label>
      
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="substantive-issued-day" name="substantive-issued-day" type="text" inputmode="numeric">
      
      </div>
    </div>
  
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="substantive-issued-month">
          Month
        </label>
      
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="substantive-issued-month" name="substantive-issued-month" type="text" inputmode="numeric">
      
      </div>
    </div>
  
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="substantive-issued-year">
          Year
        </label>
      
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="substantive-issued-year" name="substantive-issued-year" type="text" inputmode="numeric">
      
      </div>
    </div>
  
  </div>
  

</fieldset>


</div>

        
          </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="application_1_proceeding_1_certificate_2_decision-2" name="application_1_proceeding_1_certificate_2" type="radio" value="refused" aria-controls="conditional-application_1_proceeding_1_certificate_2_decision-2" aria-expanded="false">
          <label class="govuk-label govuk-radios__label" for="application_1_proceeding_1_certificate_2_decision-2">
        Refuse
      </label>
          
        </div>
        
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-application_1_proceeding_1_certificate_2_decision-2">
            
        

<div class="govuk-form-group">
  


  <select class="govuk-select" id="" name="application_1_proceeding_1_certificate_2_reason">
  
    
      <option value="Evidence does not justify legal aid">Evidence does not justify legal aid</option>
    
  
    
      <option value="Insufficient information has been provided">Insufficient information has been provided</option>
    
  
    
      <option value="No attempt to settle has been made">No attempt to settle has been made</option>
    
  
    
      <option value="Applicant has a live certificate that can be amended">Applicant has a live certificate that can be amended</option>
    
  
    
      <option value="The reasonable private paying individual test has not been satisfied">The reasonable private paying individual test has not been satisfied</option>
    
  
    
      <option value="Low chances of success">Low chances of success</option>
    
  
    
      <option value="The proportionality test has not been satisfied">The proportionality test has not been satisfied</option>
    
  
    
      <option value="The nature or timeframe of the incident does not justify legal aid">The nature or timeframe of the incident does not justify legal aid</option>
    
  
    
      <option value="No genuine dispute between the parties for a court order to be necessary">No genuine dispute between the parties for a court order to be necessary</option>
    
  
    
      <option value="Too soon to make a decision because of ongoing negotiation">Too soon to make a decision because of ongoing negotiation</option>
    
  
    
      <option value="No warning letter was sent to the opponent">No warning letter was sent to the opponent</option>
    
  
    
      <option value="Granting or rejecting would be illegal, irrational or procedurally improper">Granting or rejecting would be illegal, irrational or procedurally improper</option>
    
  
    
      <option value="Bail conditions in force or the opponent has been remanded in custody">Bail conditions in force or the opponent has been remanded in custody</option>
    
  
    
      <option value="The police are involved">The police are involved</option>
    
  
    
      <option value="The opponent should offer an undertaking">The opponent should offer an undertaking</option>
    
  
    
      <option value="Pre-action correspondence was not sent">Pre-action correspondence was not sent</option>
    
  
    
      <option value="Provider must show that orders obtained in England or Wales can be enforced abroad">Provider must show that orders obtained in England or Wales can be enforced abroad</option>
    
  
    
      <option value="Investigative work must be carried out and result in reasonable indication that the case is arguable">Investigative work must be carried out and result in reasonable indication that the case is arguable</option>
    
  
  </select>
</div>

        
          </div>
        
        
      
    
  </div>

</div>


        
        
        
        
        

         <h2 class="govuk-heading-m">Child arrangements order (contact)</h2>
        
        
        


  

  

  

  

  <dl class="govuk-summary-list govuk-!-margin-bottom-5">
    
      
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Category
          </dt>
          <dd class="govuk-summary-list__value">
            Family - Domestic abuse
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Delegated functions
          </dt>
          <dd class="govuk-summary-list__value">
            16 Oct 2023
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Level of service
          </dt>
          <dd class="govuk-summary-list__value">
            Full representation
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Level of service</span>
                </a>
              
            </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Scope limitations
          </dt>
          <dd class="govuk-summary-list__value">
            Hearing-children
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Scope limitations</span>
                </a>
              
            </dd>
          
        </div>
      
    
  </dl>


      

<div class="govuk-form-group">

  <div class="govuk-radios govuk-!-margin-bottom-9" data-module="govuk-radios">
    
      
          
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="application_1_proceeding_2_certificate_1_decision" name="application_1_proceeding_2_certificate_1" type="radio" value="granted" aria-controls="conditional-application_1_proceeding_2_certificate_1_decision" aria-expanded="false">
          <label class="govuk-label govuk-radios__label" for="application_1_proceeding_2_certificate_1_decision">
        Grant
      </label>
          
        </div>
        
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-application_1_proceeding_2_certificate_1_decision">
            
        

        




  


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  
    When should the substantive certificate be granted from?
  
  </legend>
  

  <div class="govuk-date-input" id="substantive-issued">
    
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="substantive-issued-day">
          Day
        </label>
      
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="substantive-issued-day" name="substantive-issued-day" type="text" inputmode="numeric">
      
      </div>
    </div>
  
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="substantive-issued-month">
          Month
        </label>
      
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="substantive-issued-month" name="substantive-issued-month" type="text" inputmode="numeric">
      
      </div>
    </div>
  
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="substantive-issued-year">
          Year
        </label>
      
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="substantive-issued-year" name="substantive-issued-year" type="text" inputmode="numeric">
      
      </div>
    </div>
  
  </div>
  

</fieldset>


</div>

        
          </div>
        
        
      
    
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="application_1_proceeding_2_certificate_1_decision-2" name="application_1_proceeding_2_certificate_1" type="radio" value="refused" aria-controls="conditional-application_1_proceeding_2_certificate_1_decision-2" aria-expanded="false">
          <label class="govuk-label govuk-radios__label" for="application_1_proceeding_2_certificate_1_decision-2">
        Refuse
      </label>
          
        </div>
        
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-application_1_proceeding_2_certificate_1_decision-2">
            
        

<div class="govuk-form-group">
  


  <select class="govuk-select" id="" name="application_1_proceeding_2_certificate_1_reason">
  
    
      <option value="Evidence does not justify legal aid">Evidence does not justify legal aid</option>
    
  
    
      <option value="Insufficient information has been provided">Insufficient information has been provided</option>
    
  
    
      <option value="No attempt to settle has been made">No attempt to settle has been made</option>
    
  
    
      <option value="Applicant has a live certificate that can be amended">Applicant has a live certificate that can be amended</option>
    
  
    
      <option value="The reasonable private paying individual test has not been satisfied">The reasonable private paying individual test has not been satisfied</option>
    
  
    
      <option value="Low chances of success">Low chances of success</option>
    
  
    
      <option value="The proportionality test has not been satisfied">The proportionality test has not been satisfied</option>
    
  
    
      <option value="The nature or timeframe of the incident does not justify legal aid">The nature or timeframe of the incident does not justify legal aid</option>
    
  
    
      <option value="No genuine dispute between the parties for a court order to be necessary">No genuine dispute between the parties for a court order to be necessary</option>
    
  
    
      <option value="Too soon to make a decision because of ongoing negotiation">Too soon to make a decision because of ongoing negotiation</option>
    
  
    
      <option value="No warning letter was sent to the opponent">No warning letter was sent to the opponent</option>
    
  
    
      <option value="Granting or rejecting would be illegal, irrational or procedurally improper">Granting or rejecting would be illegal, irrational or procedurally improper</option>
    
  
    
      <option value="Bail conditions in force or the opponent has been remanded in custody">Bail conditions in force or the opponent has been remanded in custody</option>
    
  
    
      <option value="The police are involved">The police are involved</option>
    
  
    
      <option value="The opponent should offer an undertaking">The opponent should offer an undertaking</option>
    
  
    
      <option value="Pre-action correspondence was not sent">Pre-action correspondence was not sent</option>
    
  
    
      <option value="Provider must show that orders obtained in England or Wales can be enforced abroad">Provider must show that orders obtained in England or Wales can be enforced abroad</option>
    
  
    
      <option value="Investigative work must be carried out and result in reasonable indication that the case is arguable">Investigative work must be carried out and result in reasonable indication that the case is arguable</option>
    
  
  </select>
</div>

        
          </div>
        
        
      
    
  </div>

</div>


        
        
        
      </div>

      <div class="govuk-form-group">
        <div class="govuk-form-group">
        <label class="govuk-label govuk-label--l" for="substantive-note">
          Give further details
        </label>
        <div id="note-hint" class="govuk-hint">
          This information is for internal use. It will not be shared with the provider.
        </div>
        <textarea class="govuk-textarea" name="substantive-note" id="substantive-note" rows="10">{{ data['substantive-note'] }}</textarea>

        <div class="govuk-button-group">
          <input type="submit" name="merits_continue_button" value="Save and continue" id="continue" class="govuk-button form-button" data-module="govuk-button" data-disable-with="Save and continue">
          <input type="submit" name="merits_continue_button" value="Save and come back later" id="continue" class="govuk-button form-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button"
            data-disable-with="Save and come back later">
        </div>
      </div>
    </form>
  </div>

</div>
{% endblock %}