.govuk-button--filter {
  color: #FFFFFF;
  background-color: #1D70B8;
}

.govuk-button--filter:hover {
  background-color: #1D70B8;
  color: white;
}

.govuk-button:focus:not(:active):not(:hover) {
  background-color: #1D70B8;
  color: white;
}

.moj-filter-layout__filter {
  max-width: 1300px;
  float: none; 
  margin-bottom: 20px;
}
