{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "moj/components/header/macro.njk" import mojHeader %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: 'Ministry of Justice',
      href: '#'
    },
    serviceLabel: {
      text: 'Prototype Service',
      href: '#'
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorMessage,
              href: "#password"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">Civil Decide prototype</h1>
      
      <p class="govuk-body">
        Enter the password to access this prototype.
      </p>

      <form method="POST" action="/v6/password-submit">
        {{ govukInput({
          label: {
            text: "Password"
          },
          id: "password",
          name: "password",
          type: "password",
          attributes: {
            autocomplete: "off"
          },
          errorMessage: errorMessage and { text: errorMessage }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>
  <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>
  <script type="module" src="/plugin-assets/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>
  <script type="module" src="/plugin-assets/govuk-frontend/dist/govuk-prototype-kit/init.js"></script>
  <script type="module" src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/moj-frontend.min.js"></script>
  <script type="module" src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>
{% endblock %}
