<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="application-history">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Application history</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">When</th>
        <th scope="col" class="govuk-table__header">Who</th>
        <th scope="col" class="govuk-table__header">What</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for note in application['notes'] | reverse %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ note['when'] | history_date }}</td>
        <td class="govuk-table__cell">{{ note['who'] }}<br>{{ note['role'] }}</td>
        <td class="govuk-table__cell"><b>{{ note['title'] }}</b><br>{{ note['text'] | safe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if data['refNo'] in data['assignedApplications'] %}
  <form action="add-note" method="POST">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="note">
          Add a note to the application history
        </label>
      </h1>
      <div id="note-hint" class="govuk-hint">
        This information is for internal use only
      </div>
      <textarea class="govuk-textarea" name="note" id="note" rows="5"></textarea>
      <button class="govuk-button" data-module="govuk-button">Add to application history</button>
    </div>
  </form>
  {% endif %}
</div>