<div class="moj-filter-layout__filter">
  <div class="moj-filter">
    <div class="moj-filter__header">
      <div class="moj-filter__header-title">
        <h2 class="govuk-heading-m">Filter</h2>
      </div>
      <div class="moj-filter__header-action">
      </div>
    </div>

    <div class="moj-filter__content">
      <div class="moj-filter__options">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group govuk-!-margin-bottom-4">
            
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked>
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Delegated functions
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="3" checked>
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Passported
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2" checked>
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Unassigned
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group govuk-!-margin-bottom-4">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Certificate type</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Initial application
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Amendment
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group govuk-!-margin-bottom-4">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Category of law</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="status">Family</label>
                </div>
          
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">Housing</label>
                </div>        
              </div>
            </fieldset>
          </div>
        </div>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Apply filters
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Clear all
          </button>
        </div>
      </div>
    </div>
  </div>
</div>