{% extends "layouts/open.html" %}

{% block pageTitle %}
Your list
{% endblock %}

{% block content %}

   
    <h1 class="govuk-heading-xl">Your list</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="yourlist-subnav-unprocessed.html">Unprocessed (3)</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="yourlist-subnav-saved.html">Saved (12)</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="yourlist-subnav-processed.html">Processed (5)</a>
        </li>
      </ul>
    
    </nav>
    


    <table class="govuk-table" data-module="moj-sortable-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Saved applications</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Reference</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="1">Submitted</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Updated</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="3">Type</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="4">DF</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="5">Matter type</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="6">Means</button></th>
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        
        
        
      <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <nobr><a class="govuk_link" href="https://laa-decide-prototype.apps.live.cloud-platform.service.justice.gov.uk/latest/application-details?refNo=L-C6Z-B7K">L-C6Z-B7K</a></nobr></td>
          <td class="govuk-table__cell"><input type="hidden" name="date" value="2023-08-31T00:00:00.000Z">Thu 31 Aug</td>
          <td class="govuk-table__cell"><input type="hidden" name="date" value="2023-08-31T00:00:00.000Z">Thu 31 Aug</td>
          <td class="govuk-table__cell">Initial application</td>
          <td class="govuk-table__cell">Not used</td>
          <td class="govuk-table__cell"><strong>Family</strong><br>Divorce, Nullity &amp; judicial separation</td>
          <td class="govuk-table__cell">Non passported</td>
          
        </tr><tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <nobr><a class="govuk_link" href="https://laa-decide-prototype.apps.live.cloud-platform.service.justice.gov.uk/latest/application-details?refNo=L-D5A-A6L">L-D5A-A6L</a></nobr></td>
          <td class="govuk-table__cell"><input type="hidden" name="date" value="2023-08-31T00:00:00.000Z">Thu 31 Aug</td>
          <td class="govuk-table__cell"><input type="hidden" name="date" value="2023-09-01T00:00:00.000Z">Fri 01 Sep</td>
          <td class="govuk-table__cell">Initial application</td>
          <td class="govuk-table__cell">Not used</td>
          <td class="govuk-table__cell"><strong>Family</strong><br>High Court Jurisdiction</td>
          <td class="govuk-table__cell">Non passported</td>
       
        </tr><tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <nobr><a class="govuk_link" href="https://laa-decide-prototype.apps.live.cloud-platform.service.justice.gov.uk/latest/application-details?refNo=L-W1X-Y2Z">L-W1X-Y2Z</a></nobr></td>
          <td class="govuk-table__cell"><input type="hidden" name="date" value="2023-09-10T00:00:00.000Z">Sun 10 Sep</td>
          <td class="govuk-table__cell"><input type="hidden" name="date" value="2023-09-10T00:00:00.000Z">Sun 10 Sep</td>
          <td class="govuk-table__cell">Initial application</td>
          <td class="govuk-table__cell">Used</td>
          <td class="govuk-table__cell"><strong>Family</strong><br>Public Law - Family</td>
          <td class="govuk-table__cell">Passported</td>
       
        </tr></tbody>
    </table>


     
      </div>
    
      {% endblock %}