{% extends "layout.html" %}

{% block pageTitle %}
Merits assessment - emergency
{% endblock %}

{% block content %}

{% set application = data['application']['applicationDetails'] %}

<div class="govuk-grid-row">
  <a href="case-details" class="govuk-back-link">Back to application details</a>
  <br>
  <br>
  <br>
  <h1 class="govuk-heading-l">Make a decision on merits</h1>
  <p class="govuk-body-l">{{ application['refNo'] }}</p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Part 1: Emergency</h2>
    <form action="merits-assessment-substantive" method="POST">
      <div class="govuk-form-group">
        {% for proceeding in application['proceedings'] %}
        {% for certificate in proceeding['certificates'] %}
        {% if certificate['certificateType'] === 'Emergency certificate' %}
        <fieldset class="govuk-fieldset" aria-describedby="decision-hint-{{ proceeding['id'] }}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-heading-s">{{proceeding['proceedingType']}}</h3>
          </legend>
          <div id="decision-hint-{{ proceeding['id'] }}" class="govuk-hint">
            {{ application['categoryLaw'] }} - {{ proceeding['matterType'] }}<br>The provider has requested {{certificate['formOfService']}}
          </div>
          <div class=" govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="grant" name="{{ proceeding['id'] }}" type="radio" value="grant" data-aria-controls="conditional-decision-{{ proceeding['id'] }}">
              <label class="govuk-label govuk-radios__label" for="{{ proceeding['id'] }}">
                Grant
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refuse" name="{{ proceeding['id'] }}" type="radio" value="refuse" data-aria-controls="conditional-decision-{{ proceeding['id'] }}-2">
              <label class="govuk-label govuk-radios__label" for="{{ proceeding['id'] }}">
                Refuse
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision-{{ proceeding['id'] }}-2">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="refusal-reason-{{ proceeding['id'] }}" name="refusal-reason-{{ proceeding['id'] }}" type="radio" value="Because of x">
                      <label class="govuk-label govuk-radios__label" for="refusal-reason">
                        Because of x
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="refusal-reason-{{ proceeding['id'] }}-2" name="refusal-reason-{{ proceeding['id'] }}" type="radio" value="Because of y">
                      <label class="govuk-label govuk-radios__label" for="refusal-reason-{{ proceeding['id'] }}-2">
                        Because of y
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="refusal-reason-{{ proceeding['id'] }}-3" name="refusal-reason-{{ proceeding['id'] }}" type="radio" value="Because of z">
                      <label class="govuk-label govuk-radios__label" for="refusal-reason-{{ proceeding['id'] }}-3">
                        Because of z
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </fieldset>

        <a href="ccms-redirect" class="govuk-link">Make changes</a>
        <br>
        <br>
        <br>
        {% endif %}
        {% endfor %}
        {% endfor %}

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Cost limits</caption>
          <tbody class="govuk-table__body">
            {% for limitation in application['costLimitations'] %}
            {% if limitation['certificateType'] == 'Emergency certificate' %}
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Certificate type</td>
              <td class="govuk-table__cell">{{ limitation['certificateType'] }}</td>
            </tr>
            <tr class=" govuk-table__row">
              <td class="govuk-table__header">Default</td>
              <td class="govuk-table__cell">{{ limitation['costLimit'] }}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Requested</td>
              <td class="govuk-table__cell">{{ limitation['requestedCostLimit'] }}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Justification</td>
              <td class="govuk-table__cell">{{ limitation['justification'] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <a href="ccms-redirect" class="govuk-link">Grant a different amount</a>

        <br>
        <br>
        <br>

        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="note">
            Give further details
          </label>
        </h1>
        <div id="note-hint" class="govuk-hint">
          This information is for internal use. It will not be shared with the provider.
        </div>
        <textarea class="govuk-textarea" name="note" id="note" rows="10"></textarea>
        <div class="govuk-button-group">
          <input type="submit" name="continue_button" value="Save and continue" id="continue" class="govuk-button form-button" data-module="govuk-button" data-disable-with="Save and continue">
          <input type="submit" name="draft_button" value="Save and come back later" id="draft_button" class="govuk-button form-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button"
            data-disable-with="Save and come back later">
        </div>
      </div>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-button-group">
      <form action="#">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Grant all</button>
      </form>
      <form action="refuse-application">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button">Refuse all</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}