{% extends "layout.html" %}

{% block pageTitle %}
Open applications
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./_search.html" %}

    <h1 class="govuk-heading-l">Open applications</h1>
    <p>{{ data['applications'].length }} open applications</p>

    <div class="moj-filter-layout">
      {% include "./_filter.html" %}

      <div class="moj-filter-layout__content">
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter"></div>
        </div>

        <div class="moj-scrollable-pane">
          <div class="moj-scrollable-pane__wrapper">
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head" style="background-color:#f3f2f1">
                <tr class=" govuk-table__row">
                  <th scope="col" class="govuk-table__header">Reference No./Applicant</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Submitted</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
                  <th scope="col" class="govuk-table__header">Application type</th>
                  <th scope="col" class="govuk-table__header">DF</th>
                  <th scope="col" class="govuk-table__header">Category of law</th>
                  <th scope="col" class="govuk-table__header">Means type</th>
                  <th scope="col" class="govuk-table__header" style="width: 140px;">Action</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for application in data['applications'] %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>{{ application['applicationDetails']['refNo'] }}</b><br>
                    <a class="govuk_link" href="/v3/case-details?refNo={{ application['applicationDetails']['refNo'] }}">{{ application['applicationDetails']['applicant']['name'] }}</a></td>
                  <td class="govuk-table__cell"><input type="hidden" name="date" value="{{ application['applicationDetails']['dateSubmitted'] }}" />{{ application['applicationDetails']['dateSubmitted'] | date}}</td>
                  <td class="govuk-table__cell"><input type="hidden" name="date" value="{{ application['applicationDetails']['dateLastUpdated'] }}" />{{ application['applicationDetails']['dateLastUpdated'] | date}}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['applicationType'] }}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['delegatedFunctions'] }}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['categoryLaw'] }}</td>
                  <td class="govuk-table__cell">{{ application['applicationDetails']['meansType'] }}</td>
                  <td class="govuk-table__cell">
                    {% if application['applicationDetails']['refNo'] not in data['assignedApplications'] %}
                    <form action="my-applications">
                      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add to my list</button>
                      <input type="hidden" name="refNo" value="{{ application['applicationDetails']['refNo'] }}">
                    </form>
                    {% else %}
                    <p>Assigned to: You</p>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <p>Showing <b>1</b> to <b>{{ data['applications'].length }}</b> of <b>{{ data['applications'].length }}</b> results</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}