{% extends "legacy_layout.html" %}

{% block pageTitle %}
Refuse application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="application-details">Back to application details</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="refuse-application" method="POST" novalidate data-validate='refusal-validation'>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">Refuse application</h1>
          </legend>
          <h2 class="govuk-body-l govuk-!-font-size-36">{{ data['refNo'] }}</h2>
          <p class="govuk-body">Select the reason for refusing this application</p>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason" name="refusal-reason" type="radio" value="Evidence does not justify legal aid">
              <label class="govuk-label govuk-radios__label" for="refusal-reason">
                Evidence does not justify legal aid
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-2" name="refusal-reason" type="radio" value="Insufficient information has been provided">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-2">
                Insufficient information has been provided
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-3" name="refusal-reason" type="radio" value="No attempt to settle has been made">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-3">
                No attempt to settle has been made
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-4" name="refusal-reason" type="radio" value="Applicant has a live certificate that can be amended">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-4">
                Applicant has a live certificate that can be amended
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-5" name="refusal-reason" type="radio" value="The reasonable private paying individual test has not been satisfied">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-5">
                The reasonable private paying individual test has not been satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-6" name="refusal-reason" type="radio" value="Low chances of success">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-6">
                Low chances of success
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-7" name="refusal-reason" type="radio" value="The proportionality test has not been satisfied">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-7">
                The proportionality test has not been satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-8" name="refusal-reason" type="radio" value="The nature or timeframe of the incident does not justify legal aid">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-8">
                The nature or timeframe of the incident does not justify legal aid
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-9" name="refusal-reason" type="radio" value="No genuine dispute between the parties for a court order to be necessary">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-9">
                No genuine dispute between the parties for a court order to be necessary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-10" name="refusal-reason" type="radio" value="Too soon to make a decision because of ongoing negotiation">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-10">
                Too soon to make a decision because of ongoing negotiation
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-11" name="refusal-reason" type="radio" value="No warning letter was sent to the opponennt">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-11">
                No warning letter was sent to the opponennt
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-12" name="refusal-reason" type="radio" value="wrongful-interference">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-12">
                Granting or rejecting would be illegal, irrational or procedurally improper
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-13" name="refusal-reason" type="radio" value="Bail conditions in force or the opponent has been remanded in custody">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-13">
                Bail conditions in force or the opponent has been remanded in custody
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-14" name="refusal-reason" type="radio" value="The police are involved">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-14">
                The police are involved
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-15" name="refusal-reason" type="radio" value="The opponent should offer an undertaking">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-15">
                The opponent should offer an undertaking
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-16" name="refusal-reason" type="radio" value="Pre-action correspondence was not sent">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-16">
                Pre-action correspondence was not sent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-17" name="refusal-reason" type="radio" value="Provider must show that orders obtained in England or Wales can be enforced abroad">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-17">
                Provider must show that orders obtained in England or Wales can be enforced abroad
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-18" name="refusal-reason" type="radio" value="Investigative work must be carried out and result in reasonable indication that the case is arguable">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-18">
                Investigative work must be carried out and result in reasonable indication that the case is arguable
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refusal-reason-19" name="refusal-reason" type="radio" value="other">
              <label class="govuk-label govuk-radios__label" for="refusal-reason-19">
                Other
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="refusal-note">
          Give further details
        </label>
        <div id="note-hint" class="govuk-hint">
          We'll share this information with the provider.
        </div>
        <textarea class="govuk-textarea" name="refusal-note" id="refusal-note" rows="10"></textarea>
        <div class="govuk-button-group">
          <input type="submit" name="continue_button" value="Save changes" id="continue" class="govuk-button form-button" data-module="govuk-button" data-disable-with="Save changes">
        </div>
      </div>
    </form>
  </div>
</div>

<script type="application/json" id="refusal-validation">
  {
    "refusal-reason": {
      "presence": true
    }
  }
</script>
{% endblock %}