

{% extends "layouts/open.html" %}

{% block pageTitle %}
Application details
{% endblock %}

{% block content %}

<a class="govuk-back-link" href="https://laa-decide-prototype.apps.live.cloud-platform.service.justice.gov.uk/latest/my-applications">Back</a>


        <main class="govuk-main-wrapper " id="main-content" role="main">
          

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">

Overall decision saved and shared with the provider.</a>


</p>
      </div>
    </div>
    
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><span class="govuk-!-margin-right-2">L-C6Z-B7K</span>
    </h1>
    
  </div>
  

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="https://laa-decide-prototype.apps.live.cloud-platform.service.justice.gov.uk/latest/application-details">Application details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="https://laa-decide-prototype.apps.live.cloud-platform.service.justice.gov.uk/latest/people">People</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="https://laa-decide-prototype.apps.live.cloud-platform.service.justice.gov.uk/latest/application-history">Application history</a>
        </li>
      </ul>
    </nav>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Outcome</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Means assessment</td>
          <td class="govuk-table__cell">
            
            <span class="moj-badge moj-badge--green">granted</span>
            
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Merits assessment</td>
          <td class="govuk-table__cell">
            
            <span class="moj-badge moj-badge--blue">partially granted</span>
          </td>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Date processed</td>
            <td class="govuk-table__cell">1 Nov 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header govuk-!-width-one-half">Processed by</td>
            <td class="govuk-table__cell">Mo Bradshaw</td>
          </tr>
          </tbody>
        </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Application details</caption>
      <tbody class="govuk-table__body">
               
        </tr><tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-width-one-half">CCMS reference number</td>
          <td class="govuk-table__cell"><span id="reference-number">300000651984</span><button class="govuk-link--no-visited-state" style="background: none; border: none; color: #1d70b8; text-decoration: underline; cursor: copy;" onclick="copyContent()">Copy reference number</button>

            <script>
              let text = document.getElementById('reference-number').innerHTML;
              const copyContent = async () => {
                try {
                  await navigator.clipboard.writeText(text);
                  console.log('Content copied to clipboard');
                } catch (err) {
                  console.error('Failed to copy: ', err);
                }
              }
            </script>

          </td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-width-one-half">Submission type</td>
          <td class="govuk-table__cell">Initial application</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Certificate type</td>
          <td class="govuk-table__cell">Substantive only</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Date submitted</td>
          <td class="govuk-table__cell">31 Aug 2023</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-width-one-half">Owner</td>
          <td class="govuk-table__cell">Mo Bradshaw</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Delegated functions</td>
          <td class="govuk-table__cell">Not used</td>
        </tr>
       
      </tbody>
    </table>


    


    <h2 class="govuk-heading-l govuk-!-margin-top-9">Proceedings</h2>
    <ol class="govuk-list govuk-list--number">
    
<!--    <span class="govuk-caption-m">Default scope</span> -->
    <li><h2 class="govuk-heading-m">Non-molestation order</h2>
    
        
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Substantive certificate</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Level of service
                </dt>
                <dd class="govuk-summary-list__value">
                  Full representation
                </dd>
               
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Scope limitations
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>Example scope</strong>
                  <br>All steps up to and including getting and serving a final order. If the order is breached you can apply for power of arrest. You cannot apply for a warrant of arrest or contempt of court proceedings.
                </dd>
                
              </div>

              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Means decision
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="moj-badge moj-badge--green">granted</span>
                </dd>           
              </div>
              

              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Merits decision
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="moj-badge moj-badge--red">refused</span>
                </dd>           
              </div>
              

            </dl>
          </div>
        </div>
        </li>

    
<!--    <span class="govuk-caption-m">Default scope</span> -->
    <li><h2 class="govuk-heading-m">Prohibited steps order</h2>
    
        
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Substantive certificate</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Level of service
                </dt>
                <dd class="govuk-summary-list__value">
                  Family Help (Higher)
                </dd>
               
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Scope limitations
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>Example scope</strong>
                  <br>Limited to Family Help (Higher) and to all steps necessary to negotiate and conclude a settlement. To include the issue of proceedings and representation in those proceedings save in relation to or at a contested final hearing.
                </dd>
                
              </div>

              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Means decision
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="moj-badge moj-badge--green">granted</span>
                </dd>           
              </div>
              

              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Merits decision
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="moj-badge moj-badge--green">granted</span>
                </dd>           
              </div>
              

              

              

            </dl>
          </div>
        </div>
        </li>

    </ol>
    <table class="govuk-table govuk-!-margin-top-9">
      <caption class="govuk-table__caption govuk-table__caption--l">Cost limits</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Certificate</th>
          <th scope="col" class="govuk-table__header">Requested</th>
          <th scope="col" class="govuk-table__header">Granted</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-width-one-half">Emergency</td>
          <td class="govuk-table__cell">£1,350</td>
          <td class="govuk-table__cell">£500 <strong class="govuk-tag govuk-tag--blue">
            New
          </strong></td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-width-one-half">Substantive</td>
          <td class="govuk-table__cell">£25,000</td>
          <td class="govuk-table__cell">£25,000</td>
        </tr>
        
      </tbody>
    </table>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Documents</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Category</th>
          <th scope="col" class="govuk-table__header">Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-half"><a href="https://drive.google.com/file/d/16V-j11_Na8_bBz4fazl-TP5k8odpPbBX/view" class="govuk-link" rel="noreferrer noopener" target="_blank">Means report</a></td>
          <td class="govuk-table__cell">31 Aug 2021</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-half"><a href="https://drive.google.com/file/d/19TddAL5MpWAPhDqRCsbggQVVngEHCQA5/view" class="govuk-link" rel="noreferrer noopener" target="_blank">Merits report</a></td>
          <td class="govuk-table__cell">31 Aug 2021</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-half"><a href="https://drive.google.com/file/d/1m2SvoKEuJySNk3wxpjvfIYHqMTZlisQf/view" class="govuk-link" rel="noreferrer noopener" target="_blank">Gateway evidence</a></td>
          <td class="govuk-table__cell">31 Aug 2021</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-half"><a href="https://drive.google.com/file/d/11iq0Auzzlbmz2IqLmgatDaqeg_ct_y2z/view" class="govuk-link" rel="noreferrer noopener" target="_blank">Statement of case</a></td>
          <td class="govuk-table__cell">18 Aug 2021</td>
        </tr>
        
      </tbody>
    </table>



  </div>
</div>

          
      {% endblock %}