{% extends "layouts/index.html" %}

{% block pageTitle %}
Civil Decide Prototypes
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Full user journey</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">This is the latest version of the prototype.</p>
    {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start now",
  href: "static/my-applications",
  isStartButton: true
}) }}

    <p class="govuk-body">We keep this up to date as a single source of truth. All design decisions are documented in the design decisions log (linked in the 'Related content section), to allow us to keep the prototype up to date, relevant, and easy to understand.</p>
    <p>There is also the <a href="latest/my-applications">old javscript version</a>, which we used until it became apparent that it was limiting our ability to redesign effectively. It can be used to simulate the exprience of using the application to make a merits decision, but is unstable in places and can crash. Use with caution.</p>
    <p class="govuk-body">Finally we have kept <a href="legacy.html">older versions</a> of the prototype from 2021 on the legacy page.</p>

    <h2 class="govuk-heading-s">New content design ideas (static screens)</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/yourlist-subnav-unprocessed">Unprocessed applications view</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/yourlist-subnav-saved">Saved applications view</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/yourlist-subnav-processed">Status/processed applications view</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/application-details-pre-assessment">Pre-assessment</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/tasklist">Tasklist view</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/means-assessment">Make a decision on means</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/communicate-decision1">Communicate decision</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/decision-communication">Communicate decision idea 2</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/static/application-details-outcome-idea1">Outcome idea 1</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href ="/latest/interruption-card-static">Exit screen (interruption card)</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2" id="subsection-title">
        Related content
      </h3>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-18">
          <li>
            <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/wiki/spaces/CivilDecide/pages">Confluence</a>
          </li>
          <li>
            <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/wiki/spaces/CivilDecide/pages/4571889723/Design+decision+log">Design decisions log</a>
          </li>
          <li>
            <a class="govuk-link--no-visited-state" href="https://drive.google.com/drive/folders/1oXX0WawytNSORUh9CrNFPwTIc7SBoqJD?usp=drive_link">Google drive</a>
          </li>
          <li>
            <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/jira/software/c/projects/AD/boards/590">Jira board</a>
          </li>
          <li>
            <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVMp_tzxE=/?share_link_id=202843992555">Miro board (user journey map)</a>
          </li>
          <li>
            <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVMDsT9XM=/?share_link_id=110488268593">Miro board (team board & roadmap)</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
