{% extends "layout_portal.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prototypes for Decide
    </h1>

    <h2 class="govuk-heading-m">Figma prototypes</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://www.figma.com/proto/wWFrX4iYFIRu6fzOLfSSpY/Core-user-journey-%E2%80%93-v4?node-id=713%3A8792&scaling=min-zoom&page-id=713%3A7783">v4</a>
      </li>
    </ul>
    <h2 class="govuk-heading-m">GOVUK Prototype Kit prototypes</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p><a href="/v1/laa-online-portal">v1</a> - copy of Figma prototype v4. Hard-coded data.</p>
      </li>
      <li>
        <p><a href="/v2/laa-online-portal">v2</a> - WIP</p>
      </li>
    </ul>
  </div>
</div>

{% endblock %}