{% extends "layout.html" %}

{% block pageTitle %}
LAA Online Portal
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl"> LAA Online Portal </h1>
  <div class="govuk-grid-column-two-thirds">
    <p>Welcome to the Online Portal. Please click a link below to access the application
      you require.</p>

    <p>If you experience any problems using the Online Portal, or would like to view
      guidance documents for the Online Portal applications, please click on the help
      link on this page.</p>

    <h2 class="govuk-heading-m">Online Applications:</h2>

    <a href="#">Contracted Work and Administration (CWA)</a>
    <p>Submit Crime Lower, Legal Help Level 1 and 2 claims, Mediation Claims, New Matter
      Starts and manage your Online Users and Contacts</p>

    <a href="#">Electronic Forms (eForms)</a>
    <p>Complete online forms for: Civil POA, Crime CRM 4, 5, 7, 14</p>

    <a href="#">Client and Cost Management System</a>
    <p>For applications for civil funding</p>

    <a href="#">Decide if an applicant can get legal aid</a>
    <p>For applications submitted in Apply</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <p>Logged in as: yourname.surname@justice.gov.uk</p>
    <a href="#">My Portal Account</a><br>
    <a href="#">Log Out</a>
    <br>
    <br>
    <aside class="app-related-items" role="complementary">
      <h3 class="govuk-heading-s" id="subsection-title">
        Guidance
      </h3>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">Terms and Conditions</a>
          </li>
          <li>
            <a href="#">List of Services</a>
          </li>
          <li>
            <a href="#">Privacy Statement</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}