{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{{ super() }}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        href: "home",
        text: "Home"
      },
      {
        href: "open-applications",
        text: "Open applications",
         active: true
      },
      {
        href: "my-applications",
        text: "My applications"
      }
    ]
  }) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% include "includes/scripts.html" %}
{% block pageScripts %}{% endblock %}
{% endblock %}
