{% extends "legacy_layout_portal.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prototypes for Decide
    </h1>



    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#Civil">
            Civil Decide
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#Crime">
            Crime Decide
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="Civil">
        <h2 class="govuk-heading-l">Civil Decide</h2>
        <!-- CONTENT STARTS HERE -->
        <div>
        <h2 class="govuk-heading-m">Figma prototypes</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.figma.com/proto/wWFrX4iYFIRu6fzOLfSSpY/Core-user-journey-%E2%80%93-v4?node-id=713%3A8792&scaling=min-zoom&page-id=713%3A7783">v4</a>
          </li>
          <li>
            <a href="https://www.figma.com/file/LQshY0ahMFw77uunpmoADE/Core-user-journey-%E2%80%93-V5-(End-of-Alpha)?node-id=713%3A7783">v5 - MVP</a>
          </li>
          <li>
            <a href="https://www.figma.com/file/LQshY0ahMFw77uunpmoADE/Core-user-journey-%E2%80%93-V5-(End-of-Alpha)?node-id=1036%3A0">v5 - post-MVP</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">GOVUK Prototype Kit prototypes</h2>
        <p>[source code: <a href="https://github.com/ministryofjustice/laa-decide-prototype">https://github.com/ministryofjustice/laa-decide-prototype</a>]</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <p><b><a href="/v1/laa-online-portal">v1</a> - Figma prototype v4 @ 01/07/2021.</b> Hard-coded data.</p>
          </li>
          <li>
            <p><b><a href="/v2/laa-online-portal">v2</a> - dynamic version of Figma prototype v4.</b> Allows interaction with the service. Supported functionality:
              <ul class="govuk-list govuk-list--bullet">
                <li>Add to my list</li>
                <li>Remove from my list</li>
                <li>Merits decisions on emergency and substantial proceedings</li>
                <li>Grant all</li>
                <li>Refuse all</li>
                <li>Save and come back later</li>
                <li>Send back to provider</li>
              </ul>
              Unsupported functionality:
              <ul class="govuk-list govuk-list--bullet">
                <li>Search - search bar is present but does not function</li>
                <li>Filter - filter is present but does not function</li>
                <li>Application history - hardcoded. Interacting with the service does not update the history</li>
              </ul>
            </p>
          </li>
          <li>
            <p><b><a href="/v3/laa-online-portal">v3</a> - dynamic version of Figma prototype v5 - MVP.</b> Includes all functionality from <a href="/v2/laa-online-portal">v2</a>, fixes issues with Search and Application History, plus updates to bring it
              in line with the MVP version of v5
              of the Figma prototype.
            </p>
          </li>
          <li>
            <p><b><a href="/v4/laa-online-portal">v4</a> - dynamic version of Figma prototype v5 - post-MVP</b> Includes all functionality from <a href="/v3/laa-online-portal">v3</a>, plus additional features to support post-MVP work. This
              includes:
              <ul class="govuk-list govuk-list--bullet">
                <li>Means assessments</li>
                <li>Requests for more information</li>
                <li>Changing merits assessment data</li>
              </ul>
            </p>
          </li>

          <li>
            <p><b><a href="/v5/open-applications">v5</a> The final version of the prototype before the Alpha was paused</b>. Uncertain of specifics added between v4 & v5.
            </p>
          </li>
        </ul>
      </div>
      <!-- CONTENT ENDS HERE -->
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Crime">
        <h2 class="govuk-heading-l">Crime Decide</h2>
        <!-- CONTENT STARTS HERE -->
        <div>
        <h2 class="govuk-heading-m">GOVUK Prototype Kit prototypes</h2>
        <p>[source code: <a href="https://github.com/ministryofjustice/laa-decide-prototype">https://github.com/ministryofjustice/laa-decide-prototype</a>]</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <p><b><a href="/crime-v1/laa-online-portal">Crime v1</a>
          </li>
        </ul>
        </div>
        <!-- CONTENT ENDS HERE -->
      </div>


    </div>

  </div>
</div> {% endblock %}
