<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="people">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Applicant details</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-!-width-one-half">Name</td>
        <td class="govuk-table__cell">{{ application['applicant']['name'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Date of birth</td>
        <td class="govuk-table__cell">{{ application['applicant']['dob'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">National insurance number</td>
        <td class="govuk-table__cell">{{ application['applicant']['nino'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Address</td>
        <td class="govuk-table__cell">{{ application['applicant']['address']|safe }}</td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Provider details</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-!-width-one-half">Name</td>
        <td class="govuk-table__cell">{{ application['provider']['name'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Firm</td>
        <td class="govuk-table__cell">{{ application['provider']['firm'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Account number</td>
        <td class="govuk-table__cell">{{ application['provider']['accountNumber'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Address</td>
        <td class="govuk-table__cell">{{ application['provider']['address']|safe }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Phone</td>
        <td class="govuk-table__cell">{{ application['provider']['phone'] }}</td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Opponent details</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-!-width-one-half">Name</td>
        <td class="govuk-table__cell">{{ application['opponent']['name'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Date of birth</td>
        <td class="govuk-table__cell">{{ application['opponent']['dob'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Address</td>
        <td class="govuk-table__cell">{{ application['opponent']['address']|safe }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Relationship</td>
        <td class="govuk-table__cell">{{ application['opponent']['relationship'] }}</td>
      </tr>
    </tbody>
  </table>

  {% for child in application['children'] %}
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Child details</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-!-width-one-half">Name</td>
        <td class="govuk-table__cell">{{ child['name'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Date of birth</td>
        <td class="govuk-table__cell">{{ child['dob'] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Address</td>
        <td class="govuk-table__cell">{{ child['address']|safe }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Relationship</td>
        <td class="govuk-table__cell">{{ child['relationship'] }}</td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</div>