{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: 'Legal Aid Agency',
    href: '/index'
  },
  serviceLabel: {
    text: 'Decide if an applicant can get legal aid',
    href: 'my-applications'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: 'M Bradshaw',
      href: '#',
      active: true
    }, {
      text: 'Sign out',
      href: '#'
    }]
  }

}) }}

<div class="govuk-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
</div>
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        href: "open-applications",
        text: "Open applications"
      },
      {
        href: "my-applications",
        text: "Your list"
      },
      {
        href: "search-applications",
        text: "Search",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% include "includes/scripts.html" %}
{% block pageScripts %}{% endblock %}
{% endblock %}
